.friendlist {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    border-radius: 7px;
}

.item {
    display: flex;
    align-items: center;
    height: 113px;
    margin: 7px;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.71);
}

.avatar {
    width: 95px;
    height: 95px;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.39);
}

.name {
    margin-left: 18px;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}

.status {
    width: 24px;
    height: 24px;
    background-color: red;
    border-radius: 12px;
    margin: 15px;
}

.isOnline {
    composes: status;
    background-color: green;
}